.portfolio {
  padding-top: 100px;
  animation: outblock 3s;
  hr {
    background-color: rgb(42, 218, 224);
  }
  .items {
    padding-top: 40px;
    margin: 0 auto;
    ul {
      display: block;
      display: flex;
      justify-content: space-between;
      padding: 0;
      cursor: pointer;
    }

    li {
      width: 30%;
      height: 200px;
      border: 2px solid gainsboro;
      list-style: none;
      text-align: center;
      box-shadow:
        rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
        rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
      padding-top: 20px;
      background-color: rgb(188, 201, 204);
      margin: 4px;
      &:hover {
        box-shadow:
          rgba(14, 229, 28, 0.4) 0px 0px 0px 2px,
          rgba(10, 227, 97, 0.65) 0px 4px 6px -1px,
          rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
        background-color: rgb(156, 205, 232);
      }
      a {
        color: white;
        text-decoration: none;
        font-size: 1.2rem;
      }
      &:hover {
        color: rgb(23, 137, 219);
      }

      .site_name {
        height: 45px !important;
      }
      img {
        width: 100%;
        height: 60%;
        box-shadow:
          rgba(0, 0, 0, 0.25) 0px 54px 55px,
          rgba(0, 0, 0, 0.12) 0px -12px 30px,
          rgba(0, 0, 0, 0.12) 0px 4px 6px,
          rgba(0, 0, 0, 0.17) 0px 12px 13px,
          rgba(0, 0, 0, 0.09) 0px -3px 5px;
      }
    }
  }

  .active {
    font-size: 18px;
    animation: active_transform 2s;
  }
  @keyframes active_transform {
    from {
      transform: translate(0px, 20px);
    }
  }
  .active-img {
    opacity: 0;
    animation: active_img 2s;
  }

  .active-board {
    background-color: rgb(37, 166, 213) !important;
    border: 2px solid red;
  }
}

@media (max-width: 600px) {
  img {
    display: none;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      height: fit-content;
    }
  }
}
